body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.tasks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 40px 0;
    width: 90vw;
    background-color: #21618C;
}

.tasks > div {
    background-color: #5DADE2;
    display: flex;
}

.tasks > div > img {
    height: 300px;
    width: 550px;
    margin: 0 auto;
    object-fit: contain;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    background-color: #21618C;
}
